.folder {
  display: block;

  &--hide {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    padding: 0;
  }

  &_title {
    @include py(2px);
    color: gray;
    display: grid;
    grid-template: "a b";
    grid-template-columns: 20px 1fr;

    &--have-content {
      color: black;
      cursor: pointer;
    }


    &_logo {
      width: 11px;
      margin-top: 2px;
    }

    &_name {
      line-height: 1.1em;
    }
  }

  &_content {
    padding-left: 20px;
    height: auto;
    overflow: hidden;

    &--hide {
      height: 0;
    }
  }
}
