// --------------------------- COLORS ---------------------------- //

$white:                 #fff;
$gray-100:              #f8f9fa;
$gray-200:              #e9ecef;
$gray-300:              #dee2e6;
$gray-400:              #ced4da;
$gray-500:              #adb5bd;
$gray-600:              #6c757d;
$gray-700:              #495057;
$gray-800:              #343a40;
$gray-900:              #212529;
$black:                 #000;

// ------------------------- GRADIENTS --------------------------- //


// ------------------------- LAYERS --------------------------- //

$z-indexes: (
    header-bar: 100,
    cat-window: 150
);

// --------------------------- OTHER ----------------------------- //

$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

$font-family-base: 'Montserrat', sans-serif;
$line-height-base: 1.2;

$link-color: $black;
$link-decoration: none;
$link-hover-color: $black;
$link-hover-decoration: none;

$grid-breakpoints: (
    mobile: 0,
    desktop: 1080px
);

$container-sizes: (
    desktop: 1080px
);

$desktop: 1080px;



